# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Kubernetes
*.kubeconfig
kubeconfig*
.kube/

# Helm
*.tgz
charts/
*.lock

# Logs
*.log

# Temp files
*.tmp
*.bak

# Secrets (VERY IMPORTANT)
secrets.yaml
secrets/*.yaml
*.secret.yaml
*.secrets.yaml

# Env files
.env
.env.*

# ArgoCD local exports (if you ever do this)
argocd-apps.yaml

# Terraform (if you add later)
.terraform/
*.tfstate
*.tfstate.*